
[run]
branch = True
source = src/maze_tycoon
omit =
    */tests/*
    */__pycache__/*
    */__init__.py

[report]
skip_covered = True
show_missing = True
precision = 2
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__==.__main__.:
    ^from __future__ import